.btn {
  display: inline-block;
  padding: 12px 0;
  text-align: center;
  border-radius: 7px;
  width: 80%;
  font-weight: bold;
  max-width: 400px;
  position: relative;

  .fa-position-right {
    position: absolute;
    top: calc(50% - 0.4em);
    right: 1rem;
  }
}

.reserve-btn {
  // background-color: $reserve-btn;
  background-color: #ff8b67;
  color: #fff;
  font-size: 16px;
  filter: drop-shadow(0px 0px 9px rgba(110, 100, 125, 0.14));
  border-bottom: 4px solid #cc2f00;
}

.contact-btn {
  background-color: $btn-gray;
  // color: #fff;
}

.sns-btns {
  display: flex;
  justify-content: center;
}

.sns-btn {
  margin: 0 10px;
}

.sns-link {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: $GlobalTextColor;
  font-size: 15px;
  color: #fff;

  & i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.scroll-btn {
  color: #fff;
  padding: 50px;
  & > span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 14px;
    height: 14px;
    margin-left: -7px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    &:nth-of-type(1) {
      animation-delay: 0;
    }
    &:nth-of-type(2) {
      top: 10px;
      animation-delay: 0.15s;
    }
    &:nth-of-type(3) {
      top: 20px;
      animation-delay: 0.3s;
    }
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}