$bgColor:#f5f5f5;
$contentMaxWidth: 1024px;
$GlobalTextColor: #4A4949;
$GlobalTextSize:14px;
$pcHeaderHeight: 80px;
$pcHumbergerMenuHeight:3px;


$White: white;
$pink:#F8BEAB;

$pink2:#ffa399;
// $reserve-btn:#D86F4E;
$reserve-btn:#FF8B67;
// $pink:#FFCFD5;
$btn-gray:#e2e1e1;
$border-gray:#cbcbcb;

// 余白
$mediumMargin:70px;
$mediumPadding:70px;
$smallMargin:30px;
$smallPadding:30px;

// スマートフォン用
$spGlobalTextSize:14px;
$spTitle: 16px;
$spHeaderHeight: 60px;
$spMainTitle: 18px;
$spHumbergerMenuHeight:2px;

// z-index
$z-index100:100;
$z-index100:200;
$z-index100:300;
$z-index100:400;
$z-index100:500;
$z-index100:600;
$z-index100:700;
$z-index100:800;


